server {
    listen [::]:80;
    listen 80;
    server_name {{ domaindata['domain'] }} www.{{ domaindata['domain'] }};
    location / {
        return 301 https://{{ domaindata['domain'] }}$request_uri;
    }
}

server {
    listen [::]:443;
    listen 443;
    
    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{ domaindata['domain'] }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domaindata['domain'] }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root /var/www/wordpress/{{ domaindata['domain'] }};
    index index.php;
    server_name {{ domaindata['domain'] }} www.{{ domaindata['domain'] }};

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.3-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}