<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ domaindata['db'] }}' );

/** MySQL database username */
define( 'DB_USER', '{{ domaindata['db'] }}' );

/** MySQL database password */
define( 'DB_PASSWORD', '{{ domaindata['pass'] }}' );

/** MySQL hostname */
define( 'DB_HOST', '{{ wordpress_mysql_server }}' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         '76SFub&tPtg(>&~p;S-Vh>$n5T7TGzj]-o;![/nPJX+J$4,sz:U,aZ3o2|Y]3ASI' );
define( 'SECURE_AUTH_KEY',  '3}(_=A(^=xfW8CqI|Rvw7(V/^sF}@)4;e,<zmZ)y`,/2|.6Ny}[22c[Hd<KTYs/%' );
define( 'LOGGED_IN_KEY',    'L#H<^yI;|#Yl*_SapE-;L)iW:3kr(%?Prn,+obgp5aV/o{d)S:Ky_Sz|Fe=_K!}*' );
define( 'NONCE_KEY',        'Oq)9m| -si09ug:E(n,()8+.~~rPetbZ#y_XV#tR]z^XGu;,$<OR).Xch71[Z}]}' );
define( 'AUTH_SALT',        '8dKKo2o]q--f!wY)mJ*ZM#ae@hTfXl|stZDm8.>r^%U`!e:8K<_M@_$o}sCC!w/%' );
define( 'SECURE_AUTH_SALT', '!fBWf?0H!|y<cm4@#jmt]T32d_8P6v%!NL_?!1dq{R2xS0]2WnZIP0*O6_[!/#-9' );
define( 'LOGGED_IN_SALT',   'pRBd-E}JvP~Si|Hp_OXX,CJ4ud_vWEo>/@M&@5>w]/b4=1{@iSF>elwMTnI,>c{O' );
define( 'NONCE_SALT',       '$v8KOXGA!hejPwHyoVK*q-jzH 2y-_*!Ms;&Z;E,kXTNtH*^ZzZIWlS]QZ{6u11b' );

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define( 'WP_DEBUG', false );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', dirname( __FILE__ ) . '/' );
}

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );
